.button{
    border-radius: 100px !important;
}
.text-field:not(.phone-text-field){
    .MuiOutlinedInput-root{
        height: 100%;
        border-radius: $input-border-radius
    }
   
    label{
        font-size: 17px;
        color: #a0a0a0;
        @include css3(transform, translate(14px, 20px));
    }
    .MuiInputLabel-shrink{
        @include css3(transform, translate(14px, 8px));
        font-size: 14px;
        color: #333333;
    }
    input{
        font-size: 18px;
        margin-top: 22px;
        padding: 5px 14px;
        box-sizing: border-box;
    }
    fieldset{
        height: 62px; 
        top: 0;
    }
    legend{
        display: none !important;
    }
}

.phone-text-field{
    input{
        font-size: 18px;
    }
    fieldset{
        height: 62px; 
    }
    legend{
        display: none !important;
    }
}
.MuiButton-root{
    box-shadow: none !important;
}
.phone-field{
    border: $input-border;
    border-radius: $input-border-radius;
    input{
        font-size: 18px;
        height: 62px;
        box-sizing: border-box;
    }
    fieldset{
        top: 0;
        display: none;
    }
    .MuiSelect-root {
        border-right: $input-border;
        border-radius: 0;
        fieldset{
            top: -5px;
            display: none;
        }
    }
}