$main-color: #14c1c2;
$text-color: #424242;
$btn-bg: #14c1c2;
$btn-bg-horver: #13a2a3;

$input-border: 1px solid #bdbdbd;
$input-border-radius: 6px;
$container: 1800px !default;
$container-width: 1800px !default;
$container-min-width: 1400px !default;

$font-family: Mulish;
$main-color-bold: #52979a;

$header-height: 70px;