.ProductFilter {
    .RangeSlider {
        max-width: 350px;
    }

    .label {
        font-size: 18px;
        font-weight: 400;

        span {
            font-size: 18px;
            font-weight: 200;
        }
    }

    .chexkbox-group {
    }
}