@import 'assets/style/import';

.ProductDetailTemplate {
    .product-info {
        .cover {
            img {
                max-width: 100%;
            }
        }

        .detail {
            .title {
                font-size: 32px;
                line-height: 44px;
            }

            .line {
                display: flex;
                align-items: center;
                font-size: 18px;

                .id {
                    border-right: 1px solid #d8d8d8;
                    padding-right: 25px;
                    font-weight: 200;
                }

                .rate {
                    margin-left: 25px;
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    a {
                        font-weight: 200;
                        border-bottom: 1px solid $text-color;

                        &:hover {
                            border-color: $main-color;
                        }
                    }
                }
            }

            .price {
                margin: 37px 0 30px 0;

                .real-price {
                    font-size: 32px;
                    color: $main-color-bold;
                }
            }
        }
    }
    .product-related{
        .ProductCard{
            padding: 15px;
            .rate{
                margin-bottom: 8px;
            }
        }
    }
}