.ProductReviewCard {
    padding: 30px;
    border-radius: 6px;
    border: 1px solid #e5e5e5;
    margin-top: 30px;

    >.top {
        .title {
            font-size: 24px;
            font-weight: bold;
        }

        .rate {
            box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
            background: white;
            padding: 12px 32px;
            border-radius: 100px;
            height: 44px;
            .text{
                font-weight: bold;
                font-size: 20px;
            }
        }
        .customer{
            color: #888888;
            font-size: 18px;
            margin-top: 18px;
        }

        .RatingLine {
            margin-bottom: 15px;

            .star {
                display: block;
                width: 50px;
            }

            .value {
                display: block;
                width: 50px;
            }
        }
    }

}