@import 'assets/style/import';

.ProductContentCard{
    padding: 30px;
    border-radius: 6px;
    border: 1px solid #e5e5e5;
   
    margin-top: 30px;
    font-size: 18px;
    line-height: 40px;
    font-weight: normal;
    h2{
        font-size: 24px;
        margin-bottom: 25px;
    }
    ul{
        padding-left: 20px;
        li{
            padding-left: 25px;
            position: relative;
            &::before{
                position: absolute;
                left: 0;
                top: 14px;
                content: '';
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 100px;
                background: $main-color-bold;
            }
        }
    }
}