@import 'assets/style/import';

.Header {
    border-bottom: 1px solid #e5e5e5;
    align-items: center;
    display: flex;
    height: 70px;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .Menu {
            ul {
                display: flex;
                gap: 30px;
                a{
                    font-size: 16px;
                    text-transform: capitalize;
                    color: #838383;
                    white-space: nowrap;
                    display: block;
                    line-height: 65px;
                    font-weight: 500;
                    &:hover,
                    &.active{
                        color: #424242;
                        border-bottom: 3px solid $main-color; 
                        text-shadow: 0 0 black;
                    }
                }
            }
        }
        .account{
            display: flex;
            gap: 10px;
            .left{
                display: flex;
                align-items: flex-end;
                flex-direction: column;
                font-size: 18px;
                .name{
                    font-size: 18px;
                    white-space: nowrap;
                    font-weight: bold;
                }
                .logout{
                    display: flex;
                    gap: 8px;
                    align-items: center;
                    color: #838383;
                }
            }
        }
    }
}