$btn-height: 40px !default;
$btn-font-size: 16px !default;
$btn-color: white;
$btn-padding: 0 35px !default;
$btn-radius: 0 !default;
$btn-padding-vertical: 8px;
$btn-padding-horizontal: 16px;
$btn-height-lg: 50px !default;
$btn-font-size-lg: 18px !default;
$btn-padding-lg: 0 50px !default;