$main-color: #1E97DC !default;
$text-black: black !default;
$text-color: $text-black !default;
$a-color: #0B1966 !default;
$yellow: yellow !default;
$second-color: #CF9B4C !default;


$yellow:#f9c100 !default;
$green:#4caf50 !default;
$gray: #dedede !default;
$red: #f44336 !default;
$red-dark: #f44336 !default;
$black: #222 !default;
$black-bright: #aaa !default;
$blue: rgb(0, 22, 190) !default;
$blue-bright: #4db2ec !default;
$orange: rgb(255, 111, 49) !default;
$purple: rgb(65, 12, 188) !default;
$pink: rgb(196, 15, 121) !default;

$btn-bg: #14c1c2 !default;
$btn-bg-horver: #13a2a3 !default;

$a-color: $blue !default;

$classColor: ("orange":$orange,
    "yellow":$yellow,
    "green":$green,
    "gray": $gray,
    "red": $red,
    "black": $black,
    "blue": #{$blue},
    "pink": $pink,
    "purple" : $purple) !default;
$classGradient: (("red-blue", $red, $blue),
    ("red-green", $red, $green),
    ("red-yellow", $red, $green),
    ("yellow-blue", $yellow, $blue),
    ("yellow-green", $yellow, $green),
    ("green-blue", $yellow, $green),
    ("purple-orange", $purple, $orange),
    ("pink-blue", $pink, $blue),
) !default;

$color: ("orange":$orange,
    "yellow":$yellow,
    "green":$green,
    "gray": $gray,
    "red": $red,
    "black": $black,
    "blue": #{$blue},
    "pink": $pink,
    "purple" : $purple) !default;