
$input-radius: 4px !default;
$input-height: 1.5 !default;
$label-size: 16px !default;
$label-margin: 10px !default;
$input-height-small: 32px !default;
$input-error-border-color: #FB275D !default;
$input-border-color: #c5c7d0 !default;
$input-error-text-color: #FB275D !default;
$input-border-focus: 1px solid $main-color !default;
$input-padding-bottom: 32px !default;
$input-padding: 10px !default;
$input-border: 1px solid !default;
$input-size: $label-size !default;
$label-size: 14px !default;