$columns: 12 !default;
$container: 1160px !default;
$container-width: 1160px !default;
$container-padding: 15px !default;
$container-width-mid: 1440px !default;

$container-min: $container - 300px;
$padding-col : 10px !default;
$padding: 10px;


$sm: 576px !default;
$md: 768px !default;
$lg: 960px !default;
$xl: 1140px !default;
$grid: ("sm":$sm, "md": $md, "lg": $lg, "xl": $xl);



$margin-lg: 72px !default;
$margin-md: 50px !default;
$margin-sm: 30px !default;
$margin: 16px !default;


$gap: (15, 30, 50, 60, 100, 150) !default;