$h1-size: 72px !default;
$h1-line-height: 80px !default;
$h1-weight: 700 !default;
$h1-margin-bottom: 32px !default;

$h2-size: 40px !default;
$h2-line-height: 48px !default;
$h2-weight: 400 !default;
$h2-margin-bottom: 28px !default;


$h3-size: 24px !default;
$h3-line-height: 32px !default;
$h3-weight: 400 !default;
$h3-margin-bottom: 24px !default;


$h4-size: 20px !default;
$h4-line-height: 32px !default;
$h4-weight: normal !default;
$h4-margin-bottom: 20px !default;


$p-size: 16px !default;
$p-line-height: 24px !default;
$p-weight: normal !default;
$p-margin-bottom: 16px !default;



$p-small-size: 14px !default;
$p-small-line-height: 18px !default;
$p-small-weight: normal !default;


$p-lg-size: 20px !default;
$p-lg-line-height: 28px !default;
$p-lg-weight: normal !default;