@import "./variable/color";

// TEXT
@import "./variable/reset";
// COLOR


// $green: var(--green,#00bb00);
// $blue: var(--blue,#00c4ff);
// $red: var(--red,#fc1717);







// MIXINS
// $col-response: ("xs":500px ,"md": 768px, "lg": 1200px);
// $md: 767.9px;
// ----------------------- GRID ------------------------------

@import "./variable/grid";


// --------------------- FORM -----------------------
//  BTN
@import "./variable/button";
@import "./variable/form";
@import "./variable/text";


$block-list: ("block-post1");
$blog: ("blog1", "blog2", "blog3");
$category: ("category1");
$blog-list: ("blog-list1");
$list: ("list1", "list2");
$marquee: ("marquee1");
$arrow: ("arrow");


$scrollbar-bg: $main-color !default;
$scrollbar-width: 0.5px !default;


// --------------------------------